/* reset most styling and make the boxes a bit more logical*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* make images responsive by removing extra space around and set max width to 100% */
img {
  max-width: 100%;
  display: block;
}

/* Don't leave single words hanging at last line */
p {
  text-wrap: pretty;
}

/* Global styling */
:root {
  --clr-primary-400: hsl(0, 100%, 32%);

  --clr-neutral-800: hsl(0, 0%, 92%);
  --clr-neutral-900: hsl(0, 0%, 99%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: hsla(from var(--clr-primary-400) h s l / 0.3);
}

main > article {
  max-width: 1280px;
  margin-inline: auto;
  background-color: var(--clr-neutral-900);
}

article > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 1.5em;
  color: var(--clr-primary-400);
}

h2,
h3 {
  font-size: 1.25em;
}

h1,
h2 {
  font-weight: 700;
}

ol,
ul {
  padding-inline-start: 1.5rem;
}

/* utility */
.flow > * + * {
  margin-block-start: 1em;
}

.flow-sm > * + * {
  margin-block-start: 0.5em;
}

.bg-faded {
  background-color: var(--clr-neutral-800);
}

.p-1 {
  padding: 1em;
}

.px-4 {
  padding-inline: 4rem;
}

.p-4 {
  padding: 4rem;
}

.text-normal {
  font-weight: normal;
}

.nowrap {
  white-space: nowrap;
}

.border {
  border: 1px solid var(--clr-neutral-900);
}

/* Components */
.gallery {
  display: grid;
  gap: 1rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 467px;
    /* aspect-ratio: 1/1; */
  }
}

.wrapper {
  padding-block: min(5vw, 4rem);
  padding-inline: min(5vw, 4rem);
}

/* Queries */
@media (min-width: 800px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  main {
    margin-block-end: 4rem;
  }
}
