/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* min body height */
body {
  min-height: 100vh;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Don't leave single words hanging at last line */
p {
  text-wrap: pretty;
  max-width: 65ch;
}

h1,
h2 {
  text-wrap: balance;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
