:root {
  --clr-neutral-100: hsl(0, 0%, 0%);
  --clr-neutral-900: hsl(0, 0%, 97%);
  --clr-primary-800: hsl(213, 24%, 86%);
  --clr-primary-400: hsl(213, 24%, 46%);
  --clr-secondary-400: hsl(325, 33%, 27%);

  --ff-main: Roboto, sans-serif;
  --fw-bold: 700;
}

/* Global styling */
body {
  font-family: var(--ff-main);
  color: var(--clr-neutral-100);

  display: grid;
  grid-template-rows: 1fr auto;
  background-size: cover;
  background-position: 30% calc(48% + 10vw - 160px);
  background-repeat: no-repeat;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
}

/* utils */
.text-center {
  text-align: center;
}
.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5rem);
}

/* blocks */
.button {
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;

  background-color: var(--clr-secondary-400);
  color: var(--clr-neutral-900);

  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
  }
}

.hero {
  padding-inline: 2rem;
  padding-block: max(10vh, 4rem);
  background-color: hsla(from var(--clr-primary-400) h s l / 0.9);
  backdrop-filter: blur(10px);
  color: var(--clr-neutral-900);

  > * {
    margin-inline: auto;
  }
}

.navbar {
  background-color: var(--clr-neutral-900);

  > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      white-space: nowrap;

      color: var(--clr-neutral-100);
      transition: background-color 0.2s ease-in-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-primary-800);
      }
    }
  }
}

/* exceptions */
.navbar[data-variant="main"] {
  margin-block: 3rem;
  margin-inline: 1.5rem;
  box-shadow: 1px 1px 21px 0px hsl(0, 0%, 86%);
}

/* queries */
@media (min-width: 600px) {
  .navbar ul {
    grid-template-columns: repeat(3, auto);
  }
  .navbar ul a {
    margin-inline: 1rem;
    padding: 1.5rem;
  }

  footer nav ul {
    margin-inline-end: 2rem;
  }
}
